
<div class="homepart">
  <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/map" method="get">


  <button  class="btn btn-success" type="submit" method="get">Enter your trip. </button>
</form>



</div>


