
<div>
  
  <div id='map'style='width: 100vw; height: 100vh;  margin:auto ;'></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoidHViYS1rYXNhcCIsImEiOiJjanh1ZTI0YXcwMDM4M2dtbnZ6eXJuOGs2In0.L_TRnX4VuwoBAP4cSCFCVQ';
var map = new mapboxgl.Map ({
container: 'map',
style: "mapbox://styles/tuba-kasap/cjxulodz50esc1cle1zrefz12",
center: [13.375739, 52.509352],
  zoom: 14.5,
  pitch: 47.5
});

var geolocate = new mapboxgl.GeolocateControl({
        positionOptions: {
          enableHighAccuracy: true
        },
        trackUserLocation: true
      });

      map.addControl(geolocate);

map.addControl(new MapboxDirections({
accessToken: mapboxgl.accessToken
}), 'top-left');

map.addControl(new MapboxGeocoder({
accessToken: mapboxgl.accessToken,
mapboxgl: mapboxgl
}));


</script>


{{!-- </div>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div> --}}



{{!-- <div class="edupoints">
  <button class="btn btn-danger" onclick="$('.edupoints').toggleClass('active');">
    &#9776;
  </button>

  <form action="/map" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name">
    <label for="adress">Adress:</label>
    <input type="text" name="adress">
   
     <div class="redbutton">
    <button  class="btn btn-success" type="submit" method="get"> Add Edu.Point</button>
    </div>
  </form>
   
</div>  --}}


 


